# Indicates who needs to approve what kinds of pull request based on file touched
# This file is read in last-in precendence order (i.e. settings for bottom-most win)

# Default: engineering needs to review changes to files
*   @cds-snc/esdc-cppd-devs

# DEV: Product managers need to approve
# (uncomment after some releases have been made)
# DEV.json     @cds-snc/esdc-cppd-product

# DEV: Product managers need to approve
# (uncomment after a test release to prod has been performed -- also, create this group)
# PROD.json     @cds-snc/esdc-cppd-owners
